@charset "utf-8";

#wrapper{
    margin: 0 auto;
    width: 400px;
}

#clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

.red{
    background-color: #ff0000;
    height: 100px;
    margin-top: 50px;
    position: relative;
}
.white{
    width: 160px;
    height: 60px;
    background-color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px;
}
.p{
    width: 40px;
    height: 40px;
    background: #a9004b;
    float: left;
    margin: 10px 5px 0 10px;
}

.p:nth-last-child(2) {
    margin: 10px 5px 0 5px;
    
}

.p:last-child{
    margin: 10px 10px 0 5px;
}

.green{
    width: 150px;
    height: 250px;
    background-color: #00ff51;
    float: left;
}
.brown{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
    position: relative;
}
.orange{
    position: absolute;
    top: 40px;
    left: 40px;
}
.o{
    width: 140px;
    height: 40px;
    background: #ff863f;
    border: 5px solid #ffffff;
    margin-bottom: 10px;
}


.yellow{
    padding: 50px;
    background-color: #ffd000;
}